<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
   
</head>
<body>
    <ul class="nav">
        
       
        <li class="nav-item">
          <a class="nav-link" href="/">Logout</a>
          <a class="nav-link" href="/sum">summary</a>
        </li>
        
      </ul>
    <div class="container text-center">
        
        <div = "jumbotron">
            <h1 class ="diaplay-10">welcome<h1>
        </div>
      
         
         <form action='/venue' >
        
            <button type="submit" class="btn btn-primary">ADD</button>
       
         </form>
            
            
            
        
       
       
    </div> 
    
    
    
    
</body>
</html>
