
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>adminlogin</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <style>  
          
      
      
          .card {
            
            float: left;
            padding: 15px;
            
            margin-left: 7px;
          }
          
          
    
          
          </style>
    </head>
    <body>
        <ul class="nav">
        
       
            <li class="nav-item">
              <a class="nav-link" href="/">Logout</a>
              
            </li>
            
          </ul>
       
        {%for venue in venues %}
           
           <div class="card" style="width: 18rem;">
            <img src="../static/1.jpg" class="card-img-top" >
              <div class="card-body">
                
              
               <a href="/user/{{venue.vid}}">{{venue.venue}}</a>
              </div>
            </div>
        {%endfor%}
    